body{
    background-image: url(images/whales\ 2.jpeg);
    background-repeat: repeat-y;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    width:500px;
    margin: 0 auto;
    text-align: center;
}.h1{
    text-align: center;
}body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    display: block;
    flex: 1 0 auto;
}